<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accengage.samples">

    <!--<uses-sdk tools:overrideLibrary="com.firebase.ui.auth,com.facebook,android.support.customtabs" />-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:supportsRtl="true">

        <!-- Activities to test a backs stack -->
        <activity android:name=".backstack.BackstackPreferencesActivity"/>
        <activity android:name=".backstack.BackstackActivity"/>
        <activity android:name=".backstack.BackstackActivityWithParent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.accengage.samples.backstack.BackstackActivity"/>
        </activity>

        <activity android:name=".auth.AuthActivity"/>
        <activity android:name=".auth.SignedInActivity"/>
        <activity android:name=".inbox.InboxNavActivity"/>
        <activity android:name=".inapp.MultiZoneInappActivity"/>

    </application>

</manifest>